node_modules/*
npm-debug.log
test/*_persist.json
test/accessories/cachedAccessories
test/persist/AccessoryInfo.*.json
test/persist/IdentifierCache.*.json
test/.uix-dashboard.json
test/.uix-secrets
test/auth.json
test/config.json.*
test2/*_persist.json
test2/accessories/cachedAccessories
test2/persist/AccessoryInfo.*.json
test2/persist/IdentifierCache.*.json
test2/.uix-dashboard.json
test2/.uix-secrets
test2/auth.json
test2/config.json.*
test2/persist/ControllerStorage.*.json
test2/backups/*
test2/accessories/uiAccessoriesLayout.json
