node_modules/*
npm-debug.log
test/*_persist.json
test/accessories/cachedAccessories
test/persist/AccessoryInfo.*.json
test/persist/IdentifierCache.*.json
test/.uix-dashboard.json
test/.uix-secrets
test/auth.json
